@import '../../Layout/Typography';
@import '../../Layout/Colors';

.homepage--container {
    max-width: 1200px; 
    margin: auto;   
}

.homepage--title {
    font-family: 'fontBold', Fallback, sans-serif;
    font-size: 30px;
}