@import '../../Layout/Typography';
@import '../../Layout/Colors';
@import '../../Layout/mixins.scss';


.homepage--container {
    max-width: 1200px; 
    margin: auto;
    padding: 16px 0;
    @include md {
        padding: 24px 0;
    }
    @include lg {
        padding: 32px 0;
    }   
}

// .homepage--title {
//     font-family: 'fontBold', Fallback, sans-serif;
//     font-size: 2rem;
//     @include lg {
//         font-size: 3rem;
//     }
// }