@import '../../Layout/Typography';
@import '../../Layout/Colors';
@import '../../Layout/mixins.scss';

.gamercard-container {

    .xbox-gamercard {
        display: flex;
        flex-direction: column;
        align-items: center;
        .gamerpic {
            max-width: 300px;
            width: 100%;
        }
        .gamertag {
            font-size: 3.6em;
            margin-top: 8px;
        }
        .gamerscore {
            font-size: 2.8em;
            span {
                font-size: 0.5em;
            }
        }

    }

}