@import '../../Layout/typography';
@import '../../Layout/colors';
@import '../../Layout/mixins.scss';

.header {
    height: 84px;
    background-color:$grey;
}

.nav {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

.logo-container {
    display: flex;
    align-items: baseline;

}

.fa-dragon {
    font-size: 3rem;
    color: $yellow;
}

.header-title {
    padding-left: 4px;
    font-size: 2em;
    color: $yellow;
    font-family: 'fontRegular';
    span {
        color: $green;
    }
}
