.header {
    height: 84px;
    background-color: #505050;
}

.nav {
    max-width: 1366px;
    margin: auto;
}

.logo-container {
    display: flex;
    align-items: baseline;
    padding-top: 16px;
    padding-bottom: 16px;
}

.fa-dragon {
    font-size: 3rem;
    color: rgb(211, 211, 44);
}

.header-title {
    padding-left: 4px;
    font-size: 2rem;
    color: rgb(211, 211, 44);
    span {
        color: rgb(44, 184, 44);
    }
}
